.container {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

#new-monster-form {
  button {
    margin-left: 15px;
  }
}

#entity-list {
  width: 400px;
  display: inline-block;
}

#selected-entity {
  display: inline-block;
  margin-left: 30px;
  vertical-align: top;
  overflow-y: auto;
  height: 800px;
}
