<div id="entities">

  <div>
    <form id="new-monster-form">
      <mat-form-field>
        <input matInput placeholder="Name" [(ngModel)]="newMonsterName" [ngModelOptions]="{standalone: true}">
      </mat-form-field>

      <button mat-raised-button type="submit" [disabled]="!newMonsterName" (click)="addNewMonster()">Add</button>
    </form>
  </div>

  <div>
    <mat-list id="entity-list">
      <mat-list-item *ngFor="let entity of entities; let i = index" (click)="selectedEntity = entity">
        <mat-icon mat-list-icon>{{entity.icon}}</mat-icon>
        <h4 mat-line>{{entity.name}}</h4>

        <button [hidden]="!isMonster(entity)" mat-icon-button color="warn" (click)="removeMonster(i)">
          <mat-icon>delete</mat-icon>
        </button>
      </mat-list-item>
    </mat-list>

    <div id="selected-entity">
      <!-- Monster panel-->
      <div *ngIf="selectedEntity && isMonster(selectedEntity)">
        <h3>{{selectedEntity.name}}</h3>

      </div>

      <!-- Player panel -->
      <div *ngIf="selectedEntity && !isMonster(selectedEntity)">
        <h3>{{selectedEntity.name}}</h3>

        <form>
          <mat-form-field>
            <input matInput placeholder="Initiative" name="initiative" type="number" [(ngModel)]="selectedEntity.initiative">
          </mat-form-field>
        </form>
      </div>
    </div>
  </div>

</div>


