.container {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

#new-monster-form {
  button {
    margin-left: 15px;
  }
}

#selected-entity {
  overflow-y: auto;
  height: 700px;
}
